div.grande{
  display: flex;
  flex-direction: column;
  width: 17vw;
  height: 41vh;
  gap: 1rem;

  div.fila1{
    display: flex;
    height: 11vh;
    gap: 1rem;

    div.c{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;

      }
    }

    div.delete{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 1.4rem;
      }
    }

    div.history{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 1.4rem;
      }
    }

    div.div{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 1.4rem;
      }

    }
  }

  div.fila2{
    display: flex;
    height: 11vh;
    gap: 1rem;

    div.siete{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }
    }

    div.ocho{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }

    }

    div.nueve{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }

    }

    div.multi{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 1.2rem;
      }

    }
  }

  div.fila3{
    display: flex;
    height: 11vh;
    gap: 1rem;

    div.cuatro{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }
    }

    div.cinco{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }

    }

    div.seis{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }

    }

    div.subs{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 0.4rem;
      }

    }

  }

  div.fila4{
    display: flex;
    height: 11vh;
    gap: 1rem;

    div.uno{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }
    }

    div.dos{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }

    }

    div.tres{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }

    }

    div.plus{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 1.4rem;
      }

    }

  }

  div.fila5{
    display: flex;
    height: 11vh;
    gap: 3rem;

    div.cero{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }
    }

    div.point{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height:0.7rem;
      }

    }

    div.equal{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 1rem;
      }

    }

  }
}
