<div class="grande">

  <div class="fila1">

    <div class="c"
    (click)="opera('c')"
    >
      <span>C</span>
    </div>

    <div class="delete"
    (click)="opera('delete')"
    >
      <img src="images/delete.svg" alt="delete">
    </div>

    <div class="history"
    (click)="opera('history')"
    >
      <img src="images/history.svg" alt="history">
    </div>

    <div class="div"
    (click)="opera('/')"
    >
      <img src="images/div.svg" alt="div">
    </div>

  </div>


  <div class="fila2">

    <div class="siete"
    (click)="opera('7')"
    >
      <span>7</span>
    </div>

    <div class="ocho"
    (click)="opera('8')"
    >
      <span>8</span>
    </div>

    <div class="nueve"
    (click)="opera('9')"
    >
      <span>9</span>
    </div>

    <div class="multi"
    (click)="opera('*')"
    >
      <img src="images/multi.svg" alt="multi">
    </div>

  </div>


  <div class="fila3">

    <div class="cuatro"
    (click)="opera('4')"
    >
      <span>4</span>
    </div>

    <div class="cinco"
    (click)="opera('5')"
    >
      <span>5</span>
    </div>

    <div class="seis"
    (click)="opera('6')"
    >
      <span>6</span>
    </div>

    <div class="subs"
    (click)="opera('-')"
    >
      <img src="images/subs.svg" alt="subs">
    </div>

  </div>


  <div class="fila4">

    <div class="uno"
    (click)="opera('1')"
    >
      <span>1</span>
    </div>

    <div class="dos"
    (click)="opera('2')"
    >
      <span>2</span>
    </div>

    <div class="tres"
    (click)="opera('3')"
    >
      <span>3</span>
    </div>

    <div class="plus"
    (click)="opera('+')"
    >
      <img src="images/plus.svg" alt="plus">
    </div>

  </div>


  <div class="fila5">

    <div class="cero"

    (click)="opera('0')"
    >
      <span>0</span>
    </div>

    <div class="point"
    (click)="opera('.')"
    >
      <img src="images/point.svg" alt="point">
    </div>

    <div class="equal"
    (click)="opera('=')"
    >
      <img src="images/equal.svg" alt="equal">
    </div>

  </div>
</div>
