@media (min-width: 320px) {

div.grande{
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 19rem;
  gap: 0.4rem;
  margin-bottom: 1rem;
  margin: 5px;

  div.fila1, div.fila2, div.fila3,
  div.fila4, div.fila5 {
    display: flex;
    height: 2.8rem;
    gap: 15px;

    div.c, div.delete, div.div, div.multi,
    div.siete, div.ocho, div.nueve, div.subs,
    div.cuatro, div.cinco, div.seis, div.plus,
    div.uno, div.dos, div.tres, div.point,
    div.paraper, div.cero, div.parcie, div.equal{

      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;

      }

      img{
        height: 1.4rem;
      }

      img.subs{
        height: 0.4rem;
      }

      img.point{
        height: 0.5rem;
      }

      img.equal{
        height: 1.0rem;
      }
    }

  }


  div.fila6{
    height: 2.4rem;

    div.history{

      width: 100%;
      height: 100%;
      gap: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      h1{

        font-size: 11px;
        height: 12px;
      }
    }
  }
}

div.grande:focus {
  outline: none;
  box-shadow: none;
}
}
