<div class="error"
*ngIf="error"
>
<h1>{{ error }}</h1>
</div>

<div class="hist"
*ngIf="!error && vHistory"
>
  <div class="inter"
  *ngFor="let historico of history"
  >
    <h1
    (click)="mostrarDato(historico)"
    >{{ historico }}</h1>
    <span
    (click)="eliminarHistoricos(historico)"
    >
      <img src="images/eliminar.svg" alt="delete">
    </span>
  </div>
</div>

<div class="conver"
*ngIf="!error && vConver"
>
  <div class="oper"
  *ngIf="!error && vOper"
  #oper
  >
    <h1
    [style.font-size]="hLetra +'rem'"
    >{{ operando }}
  </h1>
  </div>

  <div class="equal"
  *ngIf="!error"
  >
    <span
    [style.font-size]="sLetra +'rem'"
    >= {{ resultado || result || '0' | scientific:2 }}</span>
  </div>
</div>
