<div class="error"
*ngIf="error"
>
<h1>{{ error }}</h1>
</div>

<div class="hist"
*ngIf="!error && vHistory"
>
  <h1>{{ history }}</h1>
</div>

<div class="conver"
*ngIf="!error"
>
  <div class="oper"
  *ngIf="!error && vOper"
  >
    <h1
    [style.font-size]="hLetra +'rem'"
    >{{ operando }}
  </h1>
  </div>

  <div class="equal"
  *ngIf="!error"
  >
    <span
    [style.font-size]="sLetra +'rem'"
    >= {{ resultado || '0' | scientific:2 }}</span>
  </div>
</div>
