div.error{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h1{
    font-family: 'digital-7.ttf', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
  }
}

div.hist{
  width: 90%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  max-height: 10rem;
  overflow-y: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;

  div.inter{
    display: flex;
    flex-direction: row;
    width: 98%;
    align-items: center;
    margin-bottom: 1rem;

    h1{
      font-family: 'digital-7.ttf', sans-serif;
      width: 87%;
      font-weight: 600;
      font-size: 1.7rem;
      word-wrap: break-word;
    }

    span{

      img{
        height: 1.5rem;
      }
    }
  }

  div.inter:hover{
    background-color: rgb(167, 162, 162);
  }

}

div.conver{
  height: 90%;
  width: 90%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;

  div.oper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    max-height: 10rem;
    align-items: center;
    justify-content: flex-end;
    overflow-y: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;


    h1{
      font-family: 'digital-7.ttf', sans-serif;
      white-space: nowrap;
      font-weight: 600;
      text-align: left;
      overflow: hidden;
      text-overflow: clip;
      word-wrap: break-word;
      animation: moverTexto 10s linear infinite;

    }

    @keyframes moverTexto {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

  }

  div.equal{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    overflow: hidden;

    span{
      font-family: 'digital-7.ttf', sans-serif;
      font-weight: 600;
      top: 3rem;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 90%;
    }
  }
}