div.grande{
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 19rem;
  gap: 0.4rem;
  margin-bottom: 1rem;
  margin: 5px;

  div.fila1{
    display: flex;
    height: 2.8rem;
    gap: 15px;

    div.c{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;

      }
    }

    div.delete{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 1.4rem;
      }
    }

    div.div{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 1.4rem;
      }

    }

    div.multi{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 1.2rem;
      }

    }
  }

  div.fila2{
    display: flex;
    height: 2.8rem;
    gap: 1rem;

    div.siete{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }
    }

    div.ocho{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }

    }

    div.nueve{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }

    }

    div.subs{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 0.4rem;
      }

    }


  }

  div.fila3{
    display: flex;
    height: 2.8rem;
    gap: 1rem;

    div.cuatro{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }
    }

    div.cinco{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }

    }

    div.seis{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }

    }

    div.plus{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 1.4rem;
      }

    }

  }

  div.fila4{
    display: flex;
    height: 2.8rem;
    gap: 1rem;

    div.uno{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }
    }

    div.dos{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }

    }

    div.tres{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }

    }

    div.point{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;


    }

  }

  div.fila5{
    display: flex;
    height: 2.8rem;
    gap: 1rem;

    div.paraper{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 1.5rem;
        margin-right: 4px;

      }

    }

    div.cero{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      span{
        font-size: 2rem;
        font-weight: 900;
      }
    }

    div.parcie{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 1.5rem;
        margin-left: 4px;
      }

    }

    div.equal{
      display: flex;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      width: 20%;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      img{
        height: 1rem;
      }

    }

  }

  div.fila6{
    height: 2.4rem;

    div.history{

      width: 100%;
      height: 100%;
      gap: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: solid 3px black;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.5);
      color: black;

      h1{

        font-size: 11px;
        height: 12px;
      }
    }
  }
}

div.grande:focus {
  outline: none;
  box-shadow: none;
}