@media (min-width: 320px) {

div.ppal{
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 33rem;
  margin: auto;
  padding-bottom: 2rem;

  div.calc{
    border: solid 5px black;
    background-color: rgb(85, 77, 77);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 34rem;
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    align-items: center;
    gap: 1rem;

    h1{
      height: 5px;
      font-size: 1rem;
    }

    div.pant{
      border: solid 5px black;
      max-width: 60%;
      min-width: 80%;
      height: 10rem;
      border-radius: 1rem;
      background-color: rgb(238, 227, 227);
      /* background-color: white; */
      align-items: center;
    }

    div.key{
      border: solid 5px black;
      background-color: rgb(126, 123, 123);
      width: 80%;
      height: 22rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }
  }
}

}
