@font-face {
  font-family: 'digital-7.ttf';
  src: url('assets/fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7.ttf';
  src: url('assets/fonts/digital-7\ \(mono\).ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-variant: monospace;
}

@font-face {
  font-family: 'digital-7.ttf';
  src: url('assets/fonts/digital-7\ \(italic\).ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@media (min-width: 320px) {
  body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
